.leaflet-container {
  background: #262626;
}

body {
  padding: 0;
  margin: 0;
}

.toolbar {
  position: fixed;
  display: flex;
  bottom: 2%;
  left: 2%;
  z-index: 1000;
}

.toolbar--light {
  color: black;
}

.toolbar--dark {
  color: white;
}

.toolbar--dark:hover {
  color: orange;
}

.toolbar--light:hover {
  color: orange;
}
